<html>
    <html lang="zh-cn">

<head>
    <meta name="viewport" content="width=divice-width, initial-scale=1">
    <link href="/static/Bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"> 

    <meta charset="utf-8">

    <title>MicroBlog</title>

    <meta name="author" content="Steven Ban">
    
    

</head>



<body>

    <nav class="navbar">
        <div class="container">
    <h1 align="center">Steven的个人微博</h1>
        </div>
    </nav>

    <div class="container">   

<div class="page-content">

<div class="form form-horizontal" align="center">
        <form name='updateMB' action="/" method="POST">
        <div class="form-group>"
        {% csrf_token %}
        {{form.as_p}}
        <input type="button" class="btn btn-default" type="submit" value="提交">
        </div>
    </div>

    {% for mb in microblogs %}
    {% cycle "<div class='row'> <div class='col-md-4'>" "<div class='col-md-4'>" "<div class='col-md-4'>" %}
    <div class="panel panel-info">
    <div class="panel-body">
        <p>{{mb.content}}</p>
    </div>
    <div class="panel-footer" align="right">
        <small>
        {{mb.time | date:"Y年Md日，D"}}
        </small>
    </div>
        </div>
        
        {% cycle "</div>" "</div>"  "</div>" %}

    {% endfor %}
    </div>
       

<p><hr></p>
    <footer class="row">
        <div class="span6">
            <p>基于django创建。Steven Ban保留所有权利。</p>
        </div>
    </footer>

    </div>
    </div>
    </div>

</body>

</html