{% extends "base.html" %}


{% block form %}

<div class="form form-horizontal" align="center">
        <form name='updateMB' action="/" method="POST">
        {% csrf_token %}
        <div class="form-group>"        
        {{form.as_p}}
        <input class="btn btn-default" type="submit" value="提交">
        </div>
    </div>

    {% endblock %}

    {% block mmb %}

    {% for mb in microblogs %}
    {% cycle "<div class='row'> <div class='col-md-4'>" "<div class='col-md-4'>" "<div class='col-md-4'>" %}
    <div class="panel panel-info">
    <div class="panel-body">
        <p>{{mb.content}}</p>
    </div>
    <div class="panel-footer" align="right">
        <small>
        {{mb.time | date:"Y年Md日，D"}}
        </small>
    </div>
        </div>
        
        {% cycle "</div>" "</div>"  "</div>" %}

    {% endfor %}
    </div>

    {% endblock %}
       

